html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
}

body {
    background: #fff;
    color: #545454;
    
    font-family: "Simonetta", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    margin: 0 auto;
    max-width: 1600px;
    padding: 10px 30px 40px;
}

/* !Important: this defines the style of the node */
.aarcNode-title {
    padding: 5px 0px;

    /*color: black;*/
    color: white;

    font-family: "Segoe UI", monospace, "Consolas", Arial, "Segoe UI", Helvetica, sans-serif;
    /*font-weight: bold;*/
    font-size: 11px;
    text-shadow: #333 1px 1px 1px;

    background: #67c;
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);*/
}

.slidePanel {
    /*
    background: rgba(255,238,221,0.9);
    color: #222;*/
    
    border: 1px solid #555;
    color: #dadaff;
    background: #33333a;
}

#container2 {
    position: absolute;
    background: url("/image/background.png") repeat scroll 0 0;
    background: #b3b3d1;
    /* remove this to use the png */
    background: papayawhip;

    background-image: -webkit-radial-gradient(top, circle cover, #fee, papayawhip 80%);
    /*background-image: -webkit-radial-gradient(top, circle cover, #ccc, #777 80%);
    /*background-image: -webkit-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -moz-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: -o-radial-gradient(top, circle cover, #97d0e1, #427388 80%);
    background-image: radial-gradient(top, circle cover, #97d0e1, #427388 80%);*/

    opacity: 0.7;
}

/* this sits underneath as it does not have position absolute */
#container1 {
    /* e.g. add a colour tinge */

    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2NMqL7ty0AALGhV3cwIUghiEFI8qhBvCDESCj+YPADDJCQL0Tr/XwAAAABJRU5ErkJggg==) repeat;

    /* this one - is dark lines */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAH0lEQVQoU2OsqqpqYCACMIIUtrW1EVQ8qhBvaBIdPABOAiX5AZCwWgAAAABJRU5ErkJggg==) repeat;
    
    /* http://www.patternify.com/ */
    /* this one - is 0.5 grey with transparency lines and a little noise */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOUlEQVQoU2NkIBIwgtRVVVU1EFKPV2FbW1sDzBDqmIjsHAwTka3DqxBZEqsbcZkE04jVM9g0Ee1rALJaJWli7IyVAAAAAElFTkSuQmCC) repeat;
}

canvas {
    position: relative;
    /*background: transparent;
    /*background: rgba(255,255,255,0.1); /* #cccede; */
    /* created using http://bg.siteorigin.com/ */
    /*background: url("/background.png") repeat scroll 0 0;*/

    /*transition: box-shadow 500ms ease-in-out; */
    box-shadow: 0 0 8px 1px #111 inset;
    box-shadow: 0 0 8px 1px #f5c193 inset;
}

/* buttons and */
button {
    font-weight: 500;
    font-family: "Segoe UI", sans-serif;

    background-color: papayawhip;
    /* #d9bea3;*/
    border: 1px solid #555;

    padding: 5px 10px;
    border-radius: 2px;
    margin-right: -6px;
    text-shadow: #999 1px 1px 3px;

    width: 120px;
    transition: all 0.4s;
}

button:focus {
    outline: 1px dotted #212121;
    outline: 1px auto -webkit-focus-ring-color;
    /*outline: 5px auto -webkit-focus-ring-color;*/
}

button:hover {
    background-color: #fff;
    border: 1px solid #555;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

button.rl span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

button.rl:hover span {
    padding-right: 25px;
}

button.rl:hover span:after {
    opacity: 1;
    right: 0;
}

button:active {
    background-color: #bbb;
    box-shadow: -1px -1px white;
}

/* glass */
.aarcButton {
    /* background styles */
    position: relative;
    display: inline-block;
    background-color: #687cc4;
    /*background-image: linear-gradient(#687cc4,#4a5d9e); /*#444,#112);*/

    /* text styles */
    text-shadow: none;
    cursor: pointer;
    transition: 0.1s;

    font-weight: 500;
    color: black;

    /*
    background-color: papayawhip;
    box-shadow: 0 0 8px 1px #f5c193 inset;
    /* various themes possible here */
}

.aarcButton:before {
    content: '';
    position: absolute;
    border-radius: 1px;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 80%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

.aarcButton:hover:before {
    height: 40%;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.aarcButton:after {
    content: '';
    position: absolute;
    border-radius: 1px;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
}

.aarcButton:hover {
    background: #4a5d9e;
    background-color: black;
    color: #a2b4f5;
    box-shadow: none;
}

.aarcButton:active {
    color: white;
    background-color: #222;
    background-image: linear-gradient(#222, #4a5d9e);
    /*transform: translateY(1px);*/
}

/* This is for context menu */
*,
*::before,
*::after {
    /*box-sizing: border-box;*/
}

.menu {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
    /* rounded corners */
    border-radius: 0px;
    padding: 0px 0px;
    width: 170px;
    position: absolute;
    display: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.menu-options {
    list-style: none;
    padding: 0px 0px;
    margin: 4px 0px;
}

.menu-option {
    cursor: pointer;
    padding: 2px 25px;
}

.menu-option-separator {
    padding: 0px 15px;
    margin: 4px 0;
    height: 2px;
    color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.menu-option:hover {
    /*
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.9);
    */
    background-color: rgba(0, 0, 0, 0.2);
}

/* codebox stuff */
.codebox_left {
    margin: 10px;
    padding: 10px;
    top: 45px;
    height: 200px;
    width: 400px;
    border: 1px solid grey;
    position: absolute;
}
