@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Historic Data</h1>
    <p>No. Of Rows per Stock</p>
</div>

<div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
    <script>
         console.log('Submitting form...');
        $.ajax({
            url: '/api/eod/status',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function(result) {
                x = [];
                y = [];
                console.log('Data received: ');
                console.log(result);
                console.log('Data converted: ');
                result.forEach(function(element) {
                    x.push(element.item1);
                    y.push(element.item2);
                });
                console.log(x);
                        console.log(y);

                var plotdata = [{
                  x: x,
                  y: y,
                  type: 'bar'
                }];

                Plotly.newPlot('myDiv', plotdata, {}, {showSendToCloud:true});
            }
        });


    </script>
</div>