@{
    ViewData["Title"] = "Portfolio Viewer";
}

<style>
    .hidden_jaws {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden
    }
    </style >

    <div id="pfSection" class="portfolio-section pv-allow-expansion" data-count="1" data-maxrows="150" data-advanced="false" >
    <div class="row bottomBorder" >
    <div class="col-sm-4 separateTop text-nowrap" >
    <b > Portfolio Assets</b > <div class="btn-group btn-group-sm left-margin hidden-print" role="group" aria-label="Portfolio allocation options" >
    <button type="button" class="btn btn-default clearAllocation" title="Clear assets and allocations" > <i class="glyphicon glyphicon-trash" > </i > </button > <div id="allocation-menu-1" class="btn-group btn-group-sm allocation-menu hidden-print" role="group" > <button id="allocationOptionsButton1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > <i class="glyphicon glyphicon-cog" > </i > <span class="caret" > </span > </button > <ul class="dropdown-menu scrollable-menu" role="menu" > <li class="dropdown-header" > Allocation Weights</li > <li > <a href="#" onclick="equalWeightAllocations(1,'');return false;" > Equal Weight</a > </li > <li > <a href="#" onclick="normalizeAllocations(1,'');return false;" > Normalize</a > </li > <li > <a href="#" onclick="clearAllocations(1,'');return false;" > Clear</a > </li > <li class="divider" > </li > <li class="dropdown-header" > Import Portfolio</li > <li > <a href="#" onclick="importPortfolio(1,'');return false;" > Upload Portfolio</a > </li > <li class="divider" > </li > <li class="dropdown-header" > Lazy Portfolios</li > <li > <a href="#" onclick="populatePortfolio('Growth Portfolio',1,false,true,true,null,'');return false;" > Growth Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Moderate Portfolio',1,false,true,true,null,'');return false;" > Moderate Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Conservative Portfolio',1,false,true,true,null,'');return false;" > Conservative Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Income Portfolio',1,false,true,true,null,'');return false;" > Income Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Bill Bernstein No Brainer',1,false,true,true,null,'');return false;" > Bill Bernstein No Brainer</a > </li > <li > <a href="#" onclick="populatePortfolio('Bill Schultheis Coffee House',1,false,true,true,null,'');return false;" > Bill Schultheis Coffee House</a > </li > <li > <a href="#" onclick="populatePortfolio('Bogleheads Three Funds',1,false,true,true,null,'');return false;" > Bogleheads Three Funds</a > </li > <li > <a href="#" onclick="populatePortfolio('Bogleheads Four Funds',1,false,true,true,null,'');return false;" > Bogleheads Four Funds</a > </li > <li > <a href="#" onclick="populatePortfolio('David Swensen Lazy Portfolio',1,false,true,true,null,'');return false;" > David Swensen Lazy Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('David Swensen Yale Endowment',1,false,true,true,null,'');return false;" > David Swensen Yale Endowment</a > </li > <li > <a href="#" onclick="populatePortfolio('FundAdvice Ultimate Buy &amp; Hold Portfolio',1,false,true,true,null,'');return false;" > FundAdvice Ultimate Buy &amp; Hold Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Harry Browne Permanent Portfolio',1,false,true,true,null,'');return false;" > Harry Browne Permanent Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Larry Swedroe Simple Portfolio',1,false,true,true,null,'');return false;" > Larry Swedroe Simple Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Larry Swedroe Minimize FatTails Portfolio',1,false,true,true,null,'');return false;" > Larry Swedroe Minimize FatTails Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Mebane Faber Ivy Portfolio',1,false,true,true,null,'');return false;" > Mebane Faber Ivy Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Ray Dalio All Weather',1,false,true,true,null,'');return false;" > Ray Dalio All Weather</a > </li > <li > <a href="#" onclick="populatePortfolio('Rick Ferri Core Four',1,false,true,true,null,'');return false;" > Rick Ferri Core Four</a > </li > <li > <a href="#" onclick="populatePortfolio('Scott Burns Couch Portfolio',1,false,true,true,null,'');return false;" > Scott Burns Couch Portfolio</a > </li > <li > <a href="#" onclick="populatePortfolio('Stocks/Bonds (60/40)',1,false,true,true,null,'');return false;" > Stocks/Bonds (60/40)</a > </li > <li > <a href="#" onclick="populatePortfolio('Stocks/Bonds (40/60)',1,false,true,true,null,'');return false;" > Stocks/Bonds (40/60)</a > </li > </ul > </div >
    </div >
    </div >
    <div class="col-sm-2 separateTop weight-column" > <b > Allocation</b > </div > <div class="col-sm-2 separateTop text-nowrap asset-statistics" style="display: none;" > <b > Expected Return</b > </div > <div class="col-sm-2 separateTop text-nowrap asset-statistics asset-volatility" style="display: none;" > <b > Volatility</b > </div > <div class="col-sm-2 separateTop text-nowrap constraint" > <b > Min. Weight</b > </div > <div class="col-sm-2 separateTop text-nowrap constraint" > <b > Max. Weight</b > </div > <div class="col-sm-2 separateTop text-nowrap groupConstraint" style="display: none;" > <b > Group</b > </div >
    </div >
    <div class="row highlightRow asset-row" >
    <div class="col-sm-1 separateTop" > 1</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol1" > Select asset 1</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol1" name="symbol1" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol1_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation1_1" > Enter percentage allocation for asset 1</label > </span >
    <input type="number" id="allocation1_1" name="allocation1_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean1" > Expected return for asset 1</label > </span >
    <input type="number" id="mean1" name="mean1" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility1" > Expected volatility for asset 1</label > </span >
    <input type="number" id="volatility1" name="volatility1" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight1" > Minimum allocation for asset 1</label > </span >
    <input type="number" id="minWeight1" name="minWeight1" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight1" > Maximum allocation for asset 1</label > </span >
    <input type="number" id="maxWeight1" name="maxWeight1" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup1" > Group assignment for asset 1</label > </span >
    <select id="assetGroup1" name="assetGroup1" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup1_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row asset-row" >
    <div class="col-sm-1 separateTop" > 2</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol2" > Select asset 2</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol2" name="symbol2" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol2_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation2_1" > Enter percentage allocation for asset 2</label > </span >
    <input type="number" id="allocation2_1" name="allocation2_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean2" > Expected return for asset 2</label > </span >
    <input type="number" id="mean2" name="mean2" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility2" > Expected volatility for asset 2</label > </span >
    <input type="number" id="volatility2" name="volatility2" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight2" > Minimum allocation for asset 2</label > </span >
    <input type="number" id="minWeight2" name="minWeight2" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight2" > Maximum allocation for asset 2</label > </span >
    <input type="number" id="maxWeight2" name="maxWeight2" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup2" > Group assignment for asset 2</label > </span >
    <select id="assetGroup2" name="assetGroup2" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup2_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row highlightRow asset-row" >
    <div class="col-sm-1 separateTop" > 3</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol3" > Select asset 3</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol3" name="symbol3" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol3_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation3_1" > Enter percentage allocation for asset 3</label > </span >
    <input type="number" id="allocation3_1" name="allocation3_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean3" > Expected return for asset 3</label > </span >
    <input type="number" id="mean3" name="mean3" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility3" > Expected volatility for asset 3</label > </span >
    <input type="number" id="volatility3" name="volatility3" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight3" > Minimum allocation for asset 3</label > </span >
    <input type="number" id="minWeight3" name="minWeight3" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight3" > Maximum allocation for asset 3</label > </span >
    <input type="number" id="maxWeight3" name="maxWeight3" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup3" > Group assignment for asset 3</label > </span >
    <select id="assetGroup3" name="assetGroup3" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup3_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row asset-row" >
    <div class="col-sm-1 separateTop" > 4</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol4" > Select asset 4</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol4" name="symbol4" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol4_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation4_1" > Enter percentage allocation for asset 4</label > </span >
    <input type="number" id="allocation4_1" name="allocation4_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean4" > Expected return for asset 4</label > </span >
    <input type="number" id="mean4" name="mean4" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility4" > Expected volatility for asset 4</label > </span >
    <input type="number" id="volatility4" name="volatility4" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight4" > Minimum allocation for asset 4</label > </span >
    <input type="number" id="minWeight4" name="minWeight4" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight4" > Maximum allocation for asset 4</label > </span >
    <input type="number" id="maxWeight4" name="maxWeight4" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup4" > Group assignment for asset 4</label > </span >
    <select id="assetGroup4" name="assetGroup4" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup4_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row highlightRow asset-row" >
    <div class="col-sm-1 separateTop" > 5</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol5" > Select asset 5</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol5" name="symbol5" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol5_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation5_1" > Enter percentage allocation for asset 5</label > </span >
    <input type="number" id="allocation5_1" name="allocation5_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean5" > Expected return for asset 5</label > </span >
    <input type="number" id="mean5" name="mean5" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility5" > Expected volatility for asset 5</label > </span >
    <input type="number" id="volatility5" name="volatility5" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight5" > Minimum allocation for asset 5</label > </span >
    <input type="number" id="minWeight5" name="minWeight5" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight5" > Maximum allocation for asset 5</label > </span >
    <input type="number" id="maxWeight5" name="maxWeight5" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup5" > Group assignment for asset 5</label > </span >
    <select id="assetGroup5" name="assetGroup5" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup5_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row asset-row" >
    <div class="col-sm-1 separateTop" > 6</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol6" > Select asset 6</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol6" name="symbol6" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol6_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation6_1" > Enter percentage allocation for asset 6</label > </span >
    <input type="number" id="allocation6_1" name="allocation6_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean6" > Expected return for asset 6</label > </span >
    <input type="number" id="mean6" name="mean6" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility6" > Expected volatility for asset 6</label > </span >
    <input type="number" id="volatility6" name="volatility6" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight6" > Minimum allocation for asset 6</label > </span >
    <input type="number" id="minWeight6" name="minWeight6" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight6" > Maximum allocation for asset 6</label > </span >
    <input type="number" id="maxWeight6" name="maxWeight6" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup6" > Group assignment for asset 6</label > </span >
    <select id="assetGroup6" name="assetGroup6" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup6_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row highlightRow asset-row" >
    <div class="col-sm-1 separateTop" > 7</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol7" > Select asset 7</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol7" name="symbol7" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol7_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation7_1" > Enter percentage allocation for asset 7</label > </span >
    <input type="number" id="allocation7_1" name="allocation7_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean7" > Expected return for asset 7</label > </span >
    <input type="number" id="mean7" name="mean7" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility7" > Expected volatility for asset 7</label > </span >
    <input type="number" id="volatility7" name="volatility7" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight7" > Minimum allocation for asset 7</label > </span >
    <input type="number" id="minWeight7" name="minWeight7" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight7" > Maximum allocation for asset 7</label > </span >
    <input type="number" id="maxWeight7" name="maxWeight7" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup7" > Group assignment for asset 7</label > </span >
    <select id="assetGroup7" name="assetGroup7" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup7_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row asset-row" >
    <div class="col-sm-1 separateTop" > 8</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol8" > Select asset 8</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol8" name="symbol8" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol8_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation8_1" > Enter percentage allocation for asset 8</label > </span >
    <input type="number" id="allocation8_1" name="allocation8_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean8" > Expected return for asset 8</label > </span >
    <input type="number" id="mean8" name="mean8" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility8" > Expected volatility for asset 8</label > </span >
    <input type="number" id="volatility8" name="volatility8" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight8" > Minimum allocation for asset 8</label > </span >
    <input type="number" id="minWeight8" name="minWeight8" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight8" > Maximum allocation for asset 8</label > </span >
    <input type="number" id="maxWeight8" name="maxWeight8" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup8" > Group assignment for asset 8</label > </span >
    <select id="assetGroup8" name="assetGroup8" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup8_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row highlightRow asset-row" >
    <div class="col-sm-1 separateTop" > 9</div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol9" > Select asset 9</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol9" name="symbol9" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol9_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation9_1" > Enter percentage allocation for asset 9</label > </span >
    <input type="number" id="allocation9_1" name="allocation9_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean9" > Expected return for asset 9</label > </span >
    <input type="number" id="mean9" name="mean9" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility9" > Expected volatility for asset 9</label > </span >
    <input type="number" id="volatility9" name="volatility9" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight9" > Minimum allocation for asset 9</label > </span >
    <input type="number" id="minWeight9" name="minWeight9" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight9" > Maximum allocation for asset 9</label > </span >
    <input type="number" id="maxWeight9" name="maxWeight9" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup9" > Group assignment for asset 9</label > </span >
    <select id="assetGroup9" name="assetGroup9" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup9_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row asset-row" >
    <div class="col-sm-1 separateTop" > 10 <span class="add-rows hidden-print" > (<a href="javascript:void(0);" onclick="return addAssetRows(10, getParentPortfolio(this));">More</a>)</span > </div >
    <div class="col-sm-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="symbol10" > Select asset 10</label > </span >
    <span class="twitter-typeahead" style="position: relative; display: inline-block;" > <input type="text" id="symbol10" name="symbol10" class="form-control fmt-ticker tt-input" placeholder="Ticker symbol" autocomplete="off" autocorrect="off" spellcheck="false" dir="auto" aria-activedescendant="" aria-owns="symbol10_listbox" role="combobox" aria-readonly="true" aria-autocomplete="list" style="position: relative; vertical-align: top;" > <span role="status" aria-live="polite" style="position: absolute; padding: 0px; border: 0px; height: 1px; width: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap;" > </span > <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-variant-east-asian: normal; font-variant-position: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;" > </pre > <div role="listbox" class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;" > <div role="presentation" class="tt-dataset tt-dataset-tickers" > </div > </div > </span >
    <span class="input-group-addon glyphicon glyphicon-search" title="Find ticker symbol" > </span >
    </div >
    </div >
    <div class="col-sm-2 weight-column" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="allocation10_1" > Enter percentage allocation for asset 10</label > </span >
    <input type="number" id="allocation10_1" name="allocation10_1" class="form-control fmt-pospct asset-weight" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="mean10" > Expected return for asset 10</label > </span >
    <input type="number" id="mean10" name="mean10" class="form-control fmt-pct" autocomplete="off" maxlength="6" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 asset-statistics asset-volatility" style="display: none;" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="volatility10" > Expected volatility for asset 10</label > </span >
    <input type="number" id="volatility10" name="volatility10" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minWeight10" > Minimum allocation for asset 10</label > </span >
    <input type="number" id="minWeight10" name="minWeight10" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 constraint" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxWeight10" > Maximum allocation for asset 10</label > </span >
    <input type="number" id="maxWeight10" name="maxWeight10" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2 groupConstraint" style="display: none;" >
    <span class="hidden_jaws" > <label for="assetGroup10" > Group assignment for asset 10</label > </span >
    <select id="assetGroup10" name="assetGroup10" class="form-control" style="display: none;" >
    <option value="" > None</option >
    <option value="A" > A</option >
    <option value="B" > B</option >
    <option value="C" > C</option >
    <option value="D" > D</option >
    <option value="E" > E</option >
    <option value="F" > F</option >
    </select > <div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 100%;" title="" id="assetGroup10_chosen" > <a class="chosen-single" > <span > None</span > <div > <b > </b > </div > </a > <div class="chosen-drop" > <div class="chosen-search" > <input type="text" autocomplete="off" readonly="" autocorrect="off" spellcheck="false" > </div > <ul class="chosen-results" > </ul > </div > </div >
    </div >
    </div >
    <div class="row topBorder totals-row" >
    <div class="col-sm-1 separateTop" > <b > Total</b > </div >
    <div class="col-sm-2 col-sm-offset-3" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="total1" > Total allocation for portfolio</label > </span >
    <input type="number" id="total1" name="total1" class="form-control" readonly="" autocomplete="off" style="background-color: rgb(238, 238, 238);" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div id="groupConstraintsSection" class="groupConstraint" style="display: none;" >
    <hr >
    <div class="row" >
    <div class="col-sm-4 separateTop text-nowrap" >
    <b > Asset Groups</b >
    <button type="button" class="btn btn-default left-margin hidden-print" id="resetGroups" title="Reset group constraints" > <i class="glyphicon glyphicon-trash" > </i > </button >
    </div >
    <div class="col-sm-2 separateTop text-nowrap" > <b > Min. Weight</b > </div >
    <div class="col-sm-2 separateTop text-nowrap" > <b > Max. Weight</b > </div >
    </div >
    <div class="row highlightRow" >
    <div class="col-sm-1 separateTop" > A</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName1" > Full name for group A at index 1</label > </span >
    <input type="text" id="assetGroupName1" name="assetGroupName1" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight1" > Minimum allocation for group A at index 1</label > </span >
    <input type="number" id="minGroupWeight1" name="minGroupWeight1" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight1" > Maximum allocation for group A at index 1</label > </span >
    <input type="number" id="maxGroupWeight1" name="maxGroupWeight1" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div class="row" >
    <div class="col-sm-1 separateTop" > B</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName2" > Full name for group B at index 2</label > </span >
    <input type="text" id="assetGroupName2" name="assetGroupName2" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight2" > Minimum allocation for group B at index 2</label > </span >
    <input type="number" id="minGroupWeight2" name="minGroupWeight2" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight2" > Maximum allocation for group B at index 2</label > </span >
    <input type="number" id="maxGroupWeight2" name="maxGroupWeight2" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div class="row highlightRow" >
    <div class="col-sm-1 separateTop" > C</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName3" > Full name for group C at index 3</label > </span >
    <input type="text" id="assetGroupName3" name="assetGroupName3" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight3" > Minimum allocation for group C at index 3</label > </span >
    <input type="number" id="minGroupWeight3" name="minGroupWeight3" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight3" > Maximum allocation for group C at index 3</label > </span >
    <input type="number" id="maxGroupWeight3" name="maxGroupWeight3" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div class="row" >
    <div class="col-sm-1 separateTop" > D</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName4" > Full name for group D at index 4</label > </span >
    <input type="text" id="assetGroupName4" name="assetGroupName4" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight4" > Minimum allocation for group D at index 4</label > </span >
    <input type="number" id="minGroupWeight4" name="minGroupWeight4" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight4" > Maximum allocation for group D at index 4</label > </span >
    <input type="number" id="maxGroupWeight4" name="maxGroupWeight4" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div class="row highlightRow" >
    <div class="col-sm-1 separateTop" > E</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName5" > Full name for group E at index 5</label > </span >
    <input type="text" id="assetGroupName5" name="assetGroupName5" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight5" > Minimum allocation for group E at index 5</label > </span >
    <input type="number" id="minGroupWeight5" name="minGroupWeight5" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight5" > Maximum allocation for group E at index 5</label > </span >
    <input type="number" id="maxGroupWeight5" name="maxGroupWeight5" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    <div class="row" >
    <div class="col-sm-1 separateTop" > F</div > <div class="col-sm-3" >
    <div class="smallMargin" >
    <span class="hidden_jaws" > <label for="assetGroupName6" > Full name for group F at index 6</label > </span >
    <input type="text" id="assetGroupName6" name="assetGroupName6" class="form-control" placeholder="Name (optional)" autocomplete="off" autocorrect="off" spellcheck="false" >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="minGroupWeight6" > Minimum allocation for group F at index 6</label > </span >
    <input type="number" id="minGroupWeight6" name="minGroupWeight6" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    <div class="col-sm-2" >
    <div class="input-group smallMargin" >
    <span class="hidden_jaws" > <label for="maxGroupWeight6" > Maximum allocation for group F at index 6</label > </span >
    <input type="number" id="maxGroupWeight6" name="maxGroupWeight6" class="form-control fmt-pospct" autocomplete="off" maxlength="5" >
    <span class="input-group-addon" > %</span >
    </div >
    </div >
    </div >
    </div >
    </div >
